
.texts{
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
}
.jumbotron {
    width: 70%;
}
/* @media only screen and (min-width: 480px) {
    img {
      width: 50%;
    }
  } */