
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right top,  #A5EAFF, #65dfc9);
  text-align: center;
  min-height: 100vh;
 /* width: 100%; */
}
/* margin: auto;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center; */
.App {
  /* A5EAFF - Sri Krishna blue */
  /* background-color: #A5EAFF; */
  /* background: linear-gradient(to right top,  #A5EAFF, #6cdbeb);
  text-align: center;
  height: 100%;
  width: 100%; */
}



