.register {
    height: 100%;
    width: 100%;
    background-image: url("./Krishna.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .registerForm {
    width: 400px;
  }
  .bg_image {
    /* The image used */
    /* background-image: url("../KrishnaArjuna.jpg");  */
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  .wrapper {
    min-height: calc(91vh - 55px);
  }
  @media only screen and (max-width: 480px) {
    .registerForm {
      width: 200px;
    }
    img {
      width: 100%;
    }
  }
