
.about {
    height: 100%;
    width: 100%;
    background-image: url("../KrishnaArjuna.jpg");
  }
  
  .bg_image {
    /* The image used */
    /* background-image: url("../KrishnaArjuna.jpg");  */
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aboutText {
        padding-top: 10px;
        padding-right: 10px;
        margin-left: 10px ;
        font-size: 20px;
  }